<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="course.example.pruebas_1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ventanas.Transacciones.TutorialActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Crear Transaccion" >
        </activity>
        <activity
            android:name=".Ventanas.Categorias.VentanaCategorias"
            android:configChanges="orientation|keyboardHidden"
            android:label="Categorias" >
        </activity>
        <activity
            android:name=".Ventanas.Historial.VentanaHistorial"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".Ventanas.Categorias.abcCategorias"
            android:configChanges="orientation|keyboardHidden"
            android:label="Crear Transaccion" >
        </activity>
    </application>

</manifest>
